@media (max-width: 767px) {
	html {
		/*font-size: 37.5%;*/
	}

	/*Header*/

	.header {
		background-image: url(../image/banner-mobile.jpg);
		background-position: bottom;
	}

	.header__nav__link {
		font-size: 9px;
	}

	.header__title {
		font-size: 26px;
		padding-top: 40px;
		padding-bottom: 213px;
	}

	.header__nav__link:nth-child(n+2) {
    	padding-left: 16px;
	}

	.header__nav__link:nth-child(n+6) {
		padding-right: 10vw;
	}

	.header__content {
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		min-height: 240px;
		padding-top: 48px;
	}

	.header__logo {
		margin-left: 0px;
	}

	.header__title {
		width: 90%;
		line-height: 1.4;
		padding-top: 30px;
	}

	.header__logo img {
		width: 270px;
	}

	.menu__btn {
		top: 28px;
	}

	#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: -17%;
    top: 9%;
	}

	/*Aside Trends*/

	.trends__container__1, .trends__container__2, .trends__container__3, .trends__container__4 {
		width: 100%;
		margin: 0;
		max-height: 230px;
		min-height: 230px;
	}

	.trends__title {
		margin-top: 36px;
		margin-bottom: 21px;
	}

	.trends__container__1 {
		margin-bottom: 4px;
	}
	.trends__container__2 {
		margin-bottom: 4px;
	}
	.trends__container__3 {
		margin-bottom: 4px;
	}

	.trends__content h2 a {
		font-size: 16px;
	}

	.trends__content li a {
		font-size: 14px;
	}

	.trends {
		margin-bottom: -4px;
	}

	/*main body*/

	.body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.content {
		width: 90%;
		min-width: 336px;
		display: flex;
		justify-content: center;

	}

	.posts {
		margin-bottom: 31px;
	}

	.posts:nth-child(5) {
		margin-bottom: 7px;
	}

	.posts img {
		min-width: 310px;
		min-height: 240px;
		width: 86vw;
		height: 66vw;
		box-sizing: border-box;
	}

	.posts__tag li a {
		font-size: 14px;
	}

	.posts__tag {
		margin: 10px 0px;
	}

	.posts__container {
		font-size: 16px;
	}

	.info {
		font-size: 12px;
		margin: 15px 0px;
	}

	.posts__container span {
		width: 99%;
		font-size: 14px;
		padding-bottom: 16px;
		border-bottom: 3px solid #eeeeee;
	}

	.sidebar {
		width: 90%;
		align-items: center;
	}

	.last__news__title {
		font-size: 16px;
	}

	.field {
		width: 100%;
	}

	.last__news__container a {
		font-size: 14px;
	}

	.last__news__container time {
		font-size: 12px;
	}

	.subscription__header {
		font-size: 16px;
	}

	.subscription__button {
		width: 86vw;
	}

	.search {
		display: block;
		width: 100%;
		margin-bottom: 36px;
	}

	.search button {
		top: 0;
	}

	.tags__header {
		font-size: 16px;
		margin-top: 36px;
	}

	.tags__list a {
		font-size: 12px;
		padding: 4px 8px;
	}

	.categorys__header {
		font-size: 16px;
		margin-top: 25px;
		margin-bottom: 12px;
	}

	.categorys__list a {
		font-size: 14px;
		width: 86vw;
		padding-bottom: 12px;
	}

	/* Asisde Shop*/

	.shop__title {
		font-size: 16px;
	}

	.shop__container {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1rem;
	}

	.shop__post {
		width: 100%;
		flex-wrap: nowrap;
    	flex-direction: column;
    	align-items: center;
	}

	.popup__title {
		font-size: 16px;
	}

	.popup__container {
		min-width: 315px;
		max-width: 400px;
		width: 90%;
	}

	.item {
		height: auto;
		padding-bottom: 30px;
	}

	.copyright {
		margin-top: 45px;
	}



}